.clock {
  background-image: url("../assets/interface/box2.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 45px;

  &__battery {
    position: absolute;
    top: 5px;
    left: 10px;
    transform: rotate(90deg);
    font-size: 20px;
    &-dead {
      transform: rotate(90deg);
    }
  }
  &__luck {
    font-size: 35px;
  }
  &__battery &__text {
    color: $white;
    text-shadow: 0 0 10px $black;
  }
  &__days {
    font-size: 20px;
  }
}
