.level {
  background-image: url("../assets/interface/fortext.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 60px;
    color: $white;
    text-shadow: 0 0 10px $black;
  }
  &__icon {
    font-size: xx-large;
  }
}
