.character__info {
  background-image: url("../assets/profile/character-info.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: relative;
  img {
    position: absolute;
    top: 5%;
    left: 19%;
    width: 65%;
  }
  &__kills {
    position: absolute;
    top: 77%;
    left: 35%;
    font-size: 2em;
    color: $red;
    span {
      font-size: 1.5em;
    }
  }
}
