.gameObject {
  position: absolute;
}

.bullet {
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../assets/objects/shot.webp") no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  transform: translateX(-50%) translateY(0%);
  z-index: 99;
  width: 25px;
  height: 50px;
}

.car {
  background: url("../assets/objects/car.webp") no-repeat;
  background-size: contain;
}
.camp {
  background: url("../assets/objects/camp.webp") no-repeat;
  background-size: contain;
}
.bed {
  background: url("../assets/objects/bed.webp") no-repeat;
  background-size: contain;
}

.fencew {
  background: url("../assets/objects/fencew.webp") no-repeat;
  background-size: contain;
}
.fenceh {
  background: url("../assets/objects/fenceh.webp") no-repeat;
  background-size: contain;
}

@for $var from 1 to 2 {
  .bush#{ $var } {
    background: url("../assets/objects/bush#{ $var }.webp") no-repeat;
    background-size: contain;
  }
}
@for $var from 1 to 3 {
  .tree#{ $var } {
    background: url("../assets/objects/tree#{ $var }.webp") no-repeat;
    background-size: contain;
  }
}
