.player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;

  &__idle {
    width: 100px;
    height: 145px;
    background: url("../assets/sprite/man/idle.webp") -0px 0px;
    animation: idle 1s steps(7) infinite;
  }
  &__walk {
    background: url("../assets/sprite/man/walk.webp") -0px 0px;
    animation: walk 1s steps(5) infinite;
  }

  &__dead {
    background: url("../assets/sprite/man/dead.webp") -526px -10px;
    width: 163px;
    height: 73px;
    animation: deadplayer 0.5s steps(1);
  }
  &__shoot {
    background: url("../assets/sprite/shot/shoot.webp");
    width: 100px;
    height: 145px;
  }
}
