@font-face {
  font-family: "Zombie";
  src: url("../assets/fonts/youmurdererbb_reg.woff2") format("woff2");
}
* {
  line-height: normal;
}
#root {
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Zombie";
  background-image: url("../assets/interface/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.App:focus {
  outline: none;
}

.bullet {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;

  width: 50px;
  height: 50px;
}

.small {
  width: 150px;
  height: 150px;
}

.rezize {
  height: 100vh;
  margin: 1%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-content: center;
  color: $red;
  h2 {
    font-size: 3rem;
    line-height: normal;
  }
}
