@font-face {
  font-family: "Zombie";
  src: url("../assets/fonts/youmurdererbb_reg.ttf") format("truetype");
}
#root {
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Zombie";
  background-color: rgb(0, 0, 0);
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.App:focus {
  outline: none;
}
.gameBoard {
  height: 100%;
  // filter: $night;
  background: url("../assets/background.jpg");
  background-size: cover;

  animation: dayAndNight 60s infinite;
}

.gameObject {
  position: absolute;
}

.bullet {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;

  width: 50px;
  height: 50px;
}

.small {
  width: 150px;
  height: 150px;
}
