#root {
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
}

.App {
  width: 500px;
  height: 500px;
  background-color: rgb(0, 0, 70);
  position: relative;
}

.App:focus {
  outline: none;
}

.player {
  position: absolute;
}
