.gameBoard {
  height: 100%;
  // filter: $night;
  background: url("../assets/background2.jpg");
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/trees.webp");
    background-size: cover;
    z-index: 999;
  }

  .gameObject {
    position: absolute;
  }

  .car {
    background: url("../assets/objects/car.webp") no-repeat;
    background-size: contain;
  }
  .camp {
    background: url("../assets/objects/camp.webp") no-repeat;
    background-size: contain;
  }
  .bed {
    background: url("../assets/objects/bed.webp") no-repeat;
    background-size: contain;
  }

  .fencew {
    background: url("../assets/objects/fencew.webp") no-repeat;
    background-size: contain;
  }
  .fenceh {
    background: url("../assets/objects/fenceh.webp") no-repeat;
    background-size: contain;
  }

  @for $var from 1 to 2 {
    .bush#{ $var } {
      background: url("../assets/objects/bush#{ $var }.webp") no-repeat;
      background-size: contain;
    }
  }
  @for $var from 1 to 3 {
    .tree#{ $var } {
      background: url("../assets/objects/tree#{ $var }.webp") no-repeat;
      background-size: contain;
    }
  }
}

.night {
  animation: night 5s ease-in;
  filter: $night;
}
.day {
  animation: day 5s ease-in;
  filter: $day;
}
