.zombie {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.l2walk {
  animation: l2walker 1.8s steps(8) infinite;
  width: 100px;
  height: 113px;
}

.l2dead {
  width: 147px;
  height: 215px;
  animation: l2dead 0.4s steps(5);
}
/* Five level and multiple zombies by level*/

.l4walk {
  width: 100px;
  height: 100px;
  scale: 1.4;
  animation: l1walker 1.6s steps(8) infinite;
}

.l4dead {
  width: 147px;
  height: 222px;

  animation: l4dead 2s steps(9);
}

@for $i from 1 through 5 {
  @if ($i==1 or $i==3) {
    .l#{$i}walk {
      animation: l1walker 1.6s steps(8) infinite;
      width: 100px;
      height: 100px;
    }
    .l#{$i}dead {
      width: 147px;
      height: 195px;
      animation: l1dead 0.5s steps(5);
    }
    @for $j from 1 through 4 {
      .level#{$i}z#{$j}__l#{$i}walk {
        background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/walk.webp") -0px
          0px;
      }
      .level#{$i}z#{$j}__l#{$i}dead {
        background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/dead.webp") -0px -975px;
      }
    }
  } @else {
    @for $j from 1 through 2 {
      @if $i==4 {
        .level#{$i}z#{$j}__l#{$i}walk {
          background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/walk.webp") -0px
            0px;
        }
        .level#{$i}z#{$j}__l#{$i}dead {
          background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/dead.webp") -0px -1998px;
        }
      } @else {
        .level#{$i}z#{$j}__l#{$i}walk {
          background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/walk.webp") -0px
            0px;
        }
        .level#{$i}z#{$j}__l#{$i}dead {
          background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/dead.webp") -0px -1075px;
        }
      }
    }
  }
}

/**Level 5 */
.l5walk {
  animation: l5walker 1.6s steps(7) infinite;
  width: 150px;
  height: 135px;
  scale: 1.4;
}

.l5dead {
  animation: l5dead 2s steps(13);
  width: 211px;
  height: 185px;
}

.level5z1__l5walk {
  background: url("../assets/sprite/zombie/level5/z1/walk.webp") -0px 0px;
}
.level5z1__l5dead {
  background: url("../assets/sprite/zombie/level5/z1/dead.webp") -0px -2405px;
}
