.zombie {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
}
.l1walk {
  animation: l1walker 1.6s steps(8) infinite;
  width: 100px;
  height: 100px;
}
.l2walk {
  animation: l2walker 1.6s steps(8) infinite;
  width: 100px;
  height: 113px;
}
.l1dead {
  width: 147px;
  height: 195px;
  //animation: l1dead 0.1s steps(1);
}
.l2dead {
  width: 147px;
  height: 215px;
  // animation: l2dead 0.5s steps(1);
}
/* Five level and multiple zombies by level*/

@for $i from 1 through 5 {
  @if $i==1 {
    @for $j from 1 through 4 {
      .level#{$i}z#{$j}__l#{$i}walk {
        background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/walk.png") -0px
          0px;
      }
      .level#{$i}z#{$j}__l#{$i}dead {
        background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/dead.png") -0px -975px;
      }
    }
  } @else if $i==5 {
    .level#{$i}z5__l#{$i}walk {
      background: url("../assets/sprite/zombie/level#{$i}/z5/walk.png") -0px
        0px;
    }
    .level#{$i}z5__l#{$i}dead {
      background: url("../assets/sprite/zombie/level#{$i}/z5/dead.png") -0px -975px;
    }
  } @else {
    @for $j from 1 through 2 {
      .level#{$i}z#{$j}__l#{$i}walk {
        background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/walk.png") -0px
          0px;
      }
      .level#{$i}z#{$j}__l#{$i}dead {
        background: url("../assets/sprite/zombie/level#{$i}/z#{$j}/dead.png") -0px -1075px;
      }
    }
  }
}
@keyframes l1walker {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -0px -800px;
  }
}
@keyframes l2walker {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -0px -904px;
  }
}

@keyframes l1dead {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -0px -975px;
  }
}

@keyframes l2dead {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -0px -1075px;
  }
}
