.info {
  position: absolute;
  z-index: 2;
}

.info-profile {
  left: 0px;
  top: 20px;
}

.info-level {
  right: 10px;
  top: 20px;
}

.info-clock {
  left: 20px;
  bottom: 20px;
}

.level {
  background-image: url("../assets/interface/fortext.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 60px;
    color: $white;
    text-shadow: 0 0 10px $black;
  }
  &__icon {
    font-size: xx-large;
  }
}

.clock {
  background-image: url("../assets/interface/box2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 45px;

  &__battery {
    position: absolute;
    top: 5px;
    left: 10px;
    transform: rotate(90deg);
    font-size: 20px;
    &-dead {
      transform: rotate(90deg);
    }
  }
  &__luck {
    font-size: 35px;
  }
  &__battery &__text {
    color: $white;
    text-shadow: 0 0 10px $black;
  }
  &__days {
    font-size: 20px;
  }
}
