.character__info {
  background-image: url("../assets/profile/character-info.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: relative;
  img {
    position: absolute;
    top: 5%;
    left: 19%;
    width: 65%;
  }
  &__kills {
    position: absolute;
    top: 77%;
    left: 35%;
    font-size: 2em;
    color: $red;
    span {
      font-size: 1.5em;
    }
  }
}

.player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;

  &__idle {
    width: 100px;
    height: 145px;
    background: url("../assets/sprite/c1/idle.png") -0px 0px;
    animation: idle 1s steps(7) infinite;
  }
  &__walk {
    background: url("../assets/sprite/c1/walk.png") -0px 0px;
    animation: walk 1s steps(5) infinite;
  }

  &__dead {
    background: url("../assets/sprite/c1/dead.png") -526px -10px;
    width: 163px;
    height: 73px;
    animation: deadplayer 0.5s steps(1);
  }
  &__shoot {
    background: url("../assets/sprite/shot/shoot.png");
    width: 100px;
    height: 145px;
  }
}
