$red: #b10000;
$blue: #0000b1;
$green: #00b100;
$white: #ffffff;
$black: #000000;
$background: rgba(0, 0, 0, 0.502);

$redshadow: rgba(255, 5, 5, 0.56) 0px 22px 200px 4px;
$greenshadow: rgba(5, 255, 5, 0.56) 0px 22px 200px 4px;
$darkred: rgba(128, 0, 0, 0.322);
$darkgreen: rgba(0, 128, 0, 0.322);

$night: brightness(50%);
$day: brightness(100%);
